.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F0F4FA; /* Light background color */
    color: #333; /* Dark text color */
    border-bottom: 1px solid #ddd;
}

.welcome-message {
    font-size: 18px;
    font-weight: bold;
}

.logout-button {
    display: flex;
    align-items: center;
}